name: Update docker base image

concurrency:
  group: base-${{ github.ref }}
  cancel-in-progress: true

## Update the base image every day
on:
  workflow_dispatch:

## Build base images to be used by other github workflows
jobs:

  base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emqx_minor:
          - "5.0"
        platform:
          - [ubuntu22.04 , "linux/amd64,linux/arm64"]
          - [ubuntu20.04 , "linux/amd64,linux/arm64"]
          - [ubuntu18.04 , "linux/amd64,linux/arm64"]
          - [ubuntu16.04 , "linux/amd64,linux/arm64"]
          - [debian11    , "linux/amd64,linux/arm64"]
          - [debian10    , "linux/amd64,linux/arm64"]
          - [debian9     , "linux/amd64,linux/arm64"]
          - [el9         , "linux/amd64,linux/arm64"]
          - [el8         , "linux/amd64,linux/arm64"]
          - [el7         , "linux/amd64,linux/arm64"]
          - [amzn2       , "linux/amd64,linux/arm64"]
          - [raspbian10  , "linux/arm64"]
          - [raspbian9   , "linux/arm64"]
          - [alpine3.15.1, "linux/amd64,linux/arm64"]

    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get cache
        run: aws s3 sync s3://docker-buildx-cache/emqx-builder/${{ matrix.platform[0] }} /tmp/.docker-buildx-cache
      - uses: docker/setup-buildx-action@v2
      - uses: docker/setup-qemu-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/metadata-action@v4
        id: base_meta
        with:
          images: ghcr.io/${{ github.repository }}/base-${{ matrix.emqx_minor }}
          tags: type=raw,value=${{ matrix.platform[0] }}
      - name: Build base image
        uses: docker/build-push-action@v3
        with:
          pull: true
          cache-from: type=local,src=/tmp/.docker-buildx-cache,mode=max
          cache-to: type=local,dest=/tmp/.docker-buildx-cache-new,mode=max
          platforms: ${{ matrix.platform[1] }}
          tags: ${{ steps.base_meta.outputs.tags }}
          labels: ${{ steps.base_meta.outputs.labels }}
          file: ${{ matrix.platform[0] }}/Dockerfile
          context: .
      - name: Update cache
        run: aws s3 sync --delete /tmp/.docker-buildx-cache-new s3://docker-buildx-cache/emqx-builder/${{ matrix.platform[0] }}
