name: Update docker base image

concurrency:
  group: base-${{ github.ref }}
  cancel-in-progress: true

## Update the base image every day
on:
  workflow_dispatch:
  schedule:
  ## In UTC
  - cron: '0 0 * * *'

## Build base images to be used by other github workflows
jobs:

  base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - [ubuntu20.04, "linux/amd64,linux/arm64"]
          - [ubuntu18.04, "linux/amd64,linux/arm64"]
          - [ubuntu16.04, "linux/amd64,linux/arm64"]
          - [debian10   , "linux/amd64,linux/arm64"]
          - [debian9    , "linux/amd64,linux/arm64"]
          - [rockylinux8, "linux/amd64,linux/arm64"]
          - [centos7    , "linux/amd64,linux/arm64"]
          - [raspbian10 , "linux/arm64"]
          - [raspbian9  , "linux/arm64"]
          - [alpine3.14 , "linux/amd64,linux/arm64"]

    steps:
      - uses: actions/checkout@v2
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get cache
        run: aws s3 sync s3://docker-buildx-cache/emqx-builder/${{ matrix.platform[0] }} /tmp/.docker-buildx-cache
      - uses: docker/setup-buildx-action@v1
      - uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/metadata-action@v3
        id: base_meta
        with:
          images: ghcr.io/${{ github.repository }}/base
          tags: type=raw,value=${{ matrix.platform[0] }}
      - name: Build base image
        uses: docker/build-push-action@v2
        with:
          push: true
          pull: true
          cache-from: type=local,src=/tmp/.docker-buildx-cache,mode=max
          cache-to: type=local,dest=/tmp/.docker-buildx-cache-new,mode=max
          platforms: ${{ matrix.platform[1] }}
          tags: ${{ steps.base_meta.outputs.tags }}
          labels: ${{ steps.base_meta.outputs.labels }}
          file: ${{ matrix.platform[0] }}/Dockerfile
          context: .
      - name: Update cache
        run: |
          rm -rf /tmp/.docker-buildx-cache
          mv /tmp/.docker-buildx-cache-new /tmp/.docker-buildx-cache
      - name: Update cache
        run: aws s3 sync --delete /tmp/.docker-buildx-cache-new s3://docker-buildx-cache/emqx-builder/${{ matrix.platform[0] }}
